#aboutCompany {
    overflow: auto;
}

#profileMap {
    min-height: 500px;
    max-height: 500px;
}

#adressProfile {
    height: 235px;
    overflow: auto;
}

#contactProfile {
    height: 235px;
    overflow: auto;
}

.txtarea {
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    right: -20px;
    padding-right: 20px;
}


#btnSaveMasseuse {
    display: none;
    margin-left: 20px;
}

.overZichtTableHeader {
    min-width: 175px;
}

#editMasseuseParagraafje {
    padding: 25px;
    margin: auto;
}

.noMargin {
    margin: 0;
}