#aboutCompany {
    overflow: auto;
}

#profileMap {
    min-height: 500px;
    max-height: 500px;
}

#adressProfile {
    height: 235px;
    overflow: auto;
}

#contactProfile {
    height: 235px;
    overflow: auto;
}
.txtarea{
    overflow-y:scroll;
    height:200px;
    width:100%;
    position:absolute;
    right:-20px;
    padding-right: 20px;
}
.scrolltext{
    overflow-y:scroll;
    right:-30px;
    padding-right: 20px;

}
.hidescroll{
    position:relative;
    overflow:hidden;
    height:200px;
    width:100%;
}
